<div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="" style="padding-top:10px">
        <h3 ng-if="!contentData.id">New Post</h3>
        <h3 ng-if="contentData.id">Edit Post</h3>
    </div>
    <form ng-submit="postContent(contentData)">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" ng-model="contentData.title" placeholder="Enter title"
                name="title" required>
        </div>

        <div class="form-group">
            <label for="artical_type">Select Article type:</label>
            <select class="form-control" id="artical_type" ng-model="contentData.isALink">
                <option value="" ng-disabled="true">--Select--</option>
                <option value= 1>Link</option>
                <option value= 2>Content</option>
            </select>
        </div>

        <div class="form-group" ng-if="contentData.isALink == 1">
            <label for="link">Article Link: </label>
            <input type="text" id="link" class="form-control" ng-model="contentData.link">
        </div>

        <div class="form-group" ng-if="contentData.isALink == 2">
            <label for="pwd">Content:</label>
            <textarea class="form-control" rows="5" id="content" ng-model="contentData.description" required></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-small btn-success">
                <span ng-if="!contentData.id">Save</span>
                <span ng-if="contentData.id">Update</span>
            </button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>