<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SAMPLE</a>
    </div>
    <ul class="nav navbar-nav" ng-if="token">
      <li><a ui-sref="home.list">List</a></li>
      <li><a ui-sref="home.createPost">Create</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-if="!token" ui-sref="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a ng-if="!token" ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a ng-if="token" ng-click="logOut()" style="cursor:pointer">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
  </div>
</nav>

<div class="col-sm-12" style="padding-top:50px">
  <ui-view></ui-view>
</div>