<div class="col-sm-4">
        <div class="row" style="padding: 5px; margin: 2px; border: 1px solid #e7e7e7; background-color: #f3f3f3;" ng-repeat="content in contents">
         
          <div class="col-sm-12" ng-show="content.isALink">

            <div class="col-sm-8">
            <label><a href="{{content.link}}">{{content.title}}</a></label>
            </div>

            <div class="pull-right">
                <span><a ng-show="!content.vote" ng-click="updateVote(content)">Like</a></span>
                <span><a ng-show="content.vote" ng-click="updateVote(content)">DisLike</a></span>
              <a ng-show="content.userID === userID" ui-sref="home.editPost({id: content.id})">Edit</a>
              <a href="" ng-show="content.userID === userID" ng-click="deleteContent(content.id)">Delete</a>
            </div>

            <div class="col-sm-8">
                <h6 ng-init="countComments(content.id)"><a ng-click="openComment(content)">{{comments}}&nbsp;Comment</a></h6>
                <div ng-show="showComment">
                  <input type="text" ng-model="comment.text">
                  <a ng-href="" ng-click="postComment(content.id, comment)">Add Comment</a>     
                  
                  <div ng-repeat="comment in commentList">
                     <div ng-show="comment.isAParent">
                        <p>------{{comment.text}}
                            <span><a href="" ng-click="openNComment(comment.id, $index)">reply</a></span>
                            <div ng-show="showNComment.index === $index">
                                <input type="text" ng-model="nComment.text">
                                <a ng-href="" ng-click="postComment(content.id, nComment)">Post Comment</a>     
                            </div></p> 
  
                        <div ng-repeat="commentChild in comment.child">
                            --  <p>{{commentChild.text}}</p> 
                        </div>
                     </div>
  
                     <div ng-show="!comment.isAParent">
                        <div>
                            <p>---New---{{comment.text}}
                            <span><a href="" ng-click="openNComment(comment.id, $index)">reply</a></span>
                            <div ng-show="showNComment.index === $index">
                                <input type="text" ng-model="nComment.text">
                                <a ng-href="" ng-click="postComment(content.id, nComment)">Post Comment</a>     
                            </div></p> 
                        </div>
                     </div>
                  </div>
                  
                </div>
                <h6 ng-if="dLikeCount>0" ng-init="countLikes(content.id)">{{dLikeCount}}&nbsp;Dislikes</h6>
                <h6 ng-if="likeCount>0" ng-init="countLikes(content.id)">{{likeCount}}&nbsp;Likes</h6>
              </div>
  
              <div class="pull-right">
                  <a ng-init="countLikes(content.id)">Likes</a>
              </div> 

          </div>

          <div class="col-sm-12" ng-show="!content.isALink">
            
            <div class="col-sm-8">
            <label><a ng-click="displayContentDesc(content.description)">{{content.title}}</a></label>
            </div>

            <div class="pull-right">
                <span><a ng-click="updateVote(content, true)">Like</a></span>
                <span><a ng-click="updateVote(content, false)">DisLike</a></span>
                <a ng-show="content.userID === userID" ui-sref="home.editPost({id: content.id})">Edit</a>
                <a  href="" ng-show="content.userID === userID" ng-click="deleteContent(content.id)">Delete</a>
            </div> 

            <div class="col-sm-8">
              <h6 ng-init="countComments(content.id)"><a ng-click="openComment(content)">{{comments}}&nbsp;Comments</a></h6>
              <div ng-show="showComment">
                <input type="text" ng-model="comment.text">
                <a ng-href="" ng-click="postComment(content.id, comment)">Add Comment</a>     
                
                <div ng-repeat="comment in commentList">
                   <div ng-show="comment.isAParent">
                      <p>------{{comment.text}}
                          <span><a href="" ng-click="openNComment(comment.id, $index)">reply</a></span>
                          <div ng-show="showNComment.index === $index">
                              <input type="text" ng-model="nComment.text">
                              <a ng-href="" ng-click="postComment(content.id, nComment)">Post Comment</a>     
                          </div></p> 

                      <div ng-repeat="commentChild in comment.child">
                          --  <p>{{commentChild.text}}</p> 
                      </div>
                   </div>

                   <div ng-show="!comment.isAParent">
                      <div>
                          <p>---New---{{comment.text}}
                          <span><a href="" ng-click="openNComment(comment.id, $index)">reply</a></span>
                          <div ng-show="showNComment.index === $index">
                              <input type="text" ng-model="nComment.text">
                              <a ng-href="" ng-click="postComment(content.id, nComment)">Post Comment</a>     
                          </div></p> 
                      </div>
                   </div>
                </div>
                
              </div>
              <h6 ng-show="dLikeCount>0" ng-init="countLikes(content.id)">{{dLikeCount}}&nbsp;Dislikes</h6>
              <h6 ng-show="likeCount>0" ng-init="countLikes(content.id)">{{likeCount}}&nbsp;Likes</h6>
            </div>
          </div>

        </div>
</div>