<style>
    .contents a {
        color: black;
        cursor: pointer;
    }
</style>

<div class="col-sm-12 contents">
    <h3>Posts</h3>

    <div class="text-danger" ng-if="!contents.length">
        No posts available, Be first to create post :(
    </div>

    <div class="col-sm-12 well well-sm" ng-repeat="content in contents">
        <div class="col-sm-8">
            <span ng-if="content.contentType == 2">
                <a ng-click="open(content.id)">
                    {{content.title}}
                </a>
            </span>
            <span ng-if="content.contentType == 1">
                <span class="glyphicon glyphicon-link"></span>
                <a href="{{content.link}}" target="_blank">{{content.title}}</a>
            </span>
        </div>
        <div class="col-sm-4 text-right">
            <a ng-click="vote(content, true)">
                {{content.likes || content.like}}
                <span class="glyphicon glyphicon-thumbs-up text-success"></span>
            </a> |
            <a ng-click="vote(content, false)">
                {{content.disLikes || content.dLike}}
                <span class="glyphicon glyphicon-thumbs-down text-danger"></span>
            </a>
            <span ng-show="content.userID === userID">| <a ui-sref="home.editPost({id: content.id})">Edit</a> |</span>
            <a href="" ng-show="content.userID === userID" ng-click="deleteContent(content.id)">Delete</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-9">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                items-per-page="limit" num-pages="numPages" boundary-link-numbers="true" rotate="false" ng-change="listContents()"></ul>
        </div>
        <div class="col-sm-2 text-right text-primary" style="padding-top:20px">
            Page: {{currentPage}} / {{numPages}}
        </div>
        <div class="col-sm-1 text-right" style="padding-top:15px">
            <input type="number" class="form-control" ng-model="limit" ng-change="listContents()">
        </div>
    </div>
</div>