
      <div class="modal-body">
        <div>
                <label><b>Email</b></label>
                <input type="text" ng-model="contentData.emailID" placeholder="Enter Email" name="email" required>
        </div>
       
        <div>
                <label><b>Password</b></label>
                <input type="password" ng-model="contentData.password" placeholder="Enter Password" name="password" required>
        </div>
        
        <label ng-show="logInError">Invalid Email ID/Password</label>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="LogIn(contentData)">LogIn</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>