<div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="text-center" style="padding-top:50px">
                <h3>F22 LABS SAMPLE</h3>
        </div>
        <form name="logInForm" novalidate>
                <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" ng-model="contentData.emailID" placeholder="Enter Email"
                                name="email" required>
                <span style="color:red" ng-show="error">{{lError}}</span>

                </div>
                <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" ng-model="contentData.password"
                                placeholder="Enter Password" name="password" required>
                </div>

                <div>
                        <button ng-disabled="logInForm.$invalid"  class="btn btn-primary" ng-click="LogIn(contentData)">LogIn</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
        </form>
</div>