<div class="col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                <h3>{{content.title}}</h3>
                <div>
                    <a ng-click="updateVote(content, true)">
                            {{content.like || 0}}
                            <span class="glyphicon glyphicon-thumbs-up text-success"></span>
                    </a> |
                    <a ng-click="updateVote(content, false)">
                            {{content.dLike || 0}}
                            <span class="glyphicon glyphicon-thumbs-down text-danger"></span>
                    </a>
                </div>
                {{content.description}}
            </div>
        </div>
        <hr>
        <div class="row" style="padding-top:20px">
            <div class="col-sm-12 form-group">
                <label for="pwd">Comment</label>
                <textarea class="form-control" rows="5" id="content" ng-model="comment" required></textarea>
            </div>
            <div class="col-sm-12 text-right">
                <button class="btn btn-small btn-success" ng-click="postComment(content.id, comment)">
                    ADD
                </button>
    
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <label>Comments</label>
                <div class="text-danger" ng-if="!comments.length">
                    No comments available, Be first to comment:(
                </div>
            </div>
    
    
            <div class="col-sm-12" ng-repeat="comment in comment">
                {{comment.text}}
                <div class="col-sm-12" style="padding-left:5px" ng-repeat="reply in comment.replies">
                    {{reply.text}}
                </div>
                <div class=“col-sm-12”>
                        <a ng-click="showReply = !showReply" style="cursor:pointer">Reply</a>
                        <div class="col-sm-12" ng-if="showReply">
                            <div class="col-sm-12 form-group">
                                <textarea class="form-control" ng-model="comment.reply" required></textarea>
                            </div>
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-small btn-success" ng-click="replyComment(comment.id, reply)">
                                    Reply
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</div>